<div class="flex flex-col">
  <%= form_for @article do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :entry %>
      <%= f.text_area :entry %>
    </div>

    <div class="field">
      <%= f.label :contents %>
      <%= f.text_area :contents %>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="actions">
      <%= f.submit 'Update Article',class:"border border-blue-300 p-1 rounded mt-4" %>
    </div>
  <% end %>
</div>
